@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:underline:hover,
.active\:underline:active {
  text-decoration-color: #2aa9a9 !important;
  text-decoration: underline;
}
.custom-bg {
  background: url("../assets/images/intro.png");
}
.custom-bg-card {
  background: url("../assets/images/header-bg.png");
}
.bg-shape {
  background: url("../assets/images/shape.png");
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
